<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Console Appender -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{ISO8601} %highlight(%-5level) [%blue(%t)] %yellow(%C{1}): %msg%n%throwable</pattern>
        </encoder>
    </appender>

    <!-- Different logging levels per environment -->
    <springProfile name="dev">
        <root level="DEBUG">
            <appender-ref ref="Console" />
        </root>
        <logger name="com.gamerecs" level="DEBUG"/>
        <logger name="org.springframework" level="INFO"/>
        <logger name="org.hibernate" level="INFO"/>
    </springProfile>

    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="Console" />
        </root>
        <logger name="com.gamerecs" level="INFO"/>
        <logger name="org.springframework" level="WARN"/>
        <logger name="org.hibernate" level="WARN"/>
    </springProfile>

</configuration> 